.backbone-tree {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: "tahoma";
}

.backbone-tree ul, .backbone-tree li {
    margin: 0;
    padding: 0;
}

.backbone-tree ul {
    list-style-type: none;
}

.backbone-tree .backbone-tree-label {
    margin: 0;
    padding: 0;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align: top;
}

.backbone-tree li > ul {
    min-height: 18px;
    margin-left: 18px;
    margin-top: 3px;
}

.backbone-tree .backbone-tree-expandable > ul {
    display: none;  
}

.backbone-tree-default li {
    background-image: url("img/bg.png");
    background-repeat: repeat-y;
}

.backbone-tree-default .backbone-tree-label {
    color: #000;
    font-size: 13px;
    font-weight: normal;
    height: 17px;
    line-height: 17px;
    padding: 0 2px;
}

.backbone-tree-default .backbone-tree-hovered {
    border: 1px solid #b2d9ff;
    cursor: pointer;
    margin: -1px -1px;
    background-color: #e0ecf5;
}

.backbone-tree-default .backbone-tree-selected {
    border: none;
    margin: 0;
    background-color: #3399ff;
    color: #fff;
}

.backbone-tree-default .backbone-tree-icon {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 17px;
    height: 17px;
    background-image: url("img/icons.png");
    background-repeat: no-repeat;
}

.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-icon {
    background-position: -128px 0;
}
.backbone-tree-default .backbone-tree-expandable > .backbone-tree-icon {
    background-position: -112px 0;
}
.backbone-tree-default .backbone-tree-leaf > .backbone-tree-icon {
    background-position: -80px 0;
}

.backbone-tree-default .backbone-tree-nav-icon {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.backbone-tree-default .backbone-tree-expandable > .backbone-tree-nav-icon:hover,
.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-nav-icon:hover {
    cursor: pointer;
}

.backbone-tree-default > ul > .backbone-tree-first > .backbone-tree-nav-icon {
    background-position: 0 -17px;
}
.backbone-tree-default > ul > .backbone-tree-single > .backbone-tree-nav-icon {
    background-position: 0 -51px;
}
.backbone-tree-default .backbone-tree-last > .backbone-tree-nav-icon,
.backbone-tree-default .backbone-tree-single > .backbone-tree-nav-icon {
    background-position: 0 -34px;
}
.backbone-tree-default .backbone-tree-expandable > .backbone-tree-nav-icon {
    background-image: url("img/expandable-icons.png");
}
.backbone-tree-default .backbone-tree-collapsible > .backbone-tree-nav-icon {
    background-image: url("img/collapsible-icons.png");
}
.backbone-tree-default .backbone-tree-leaf > .backbone-tree-nav-icon {
    background-image: url("img/leaf-icons.png");
}

.backbone-tree-default .backbone-tree-single {
    background: none;
}
.backbone-tree-default .backbone-tree-last {
    background: none;
}
